
/* this is supposed to set the size of the images in the pages? */
img {
width: 800px;
display: block;
margin: 0 auto;
}

/* this is supposed to automatically put spaces between different "chapters" */ 

